---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Title from "@components/Title.astro";
import Media from "@components/Media.astro";
import Footer from "@components/Footer.astro";
import TextScroll from "@components/TextScroll.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
	const portfolioEntries = await getCollection("portfolio");
	return portfolioEntries.map((entry, index) => {
		const prev = index > 0 ? portfolioEntries[index - 1] : portfolioEntries[portfolioEntries.length - 1];
		const next = index < portfolioEntries.length - 1 ? portfolioEntries[index + 1] : portfolioEntries[1];
		return {
			params: { slug: entry.slug },
			props: {
				entry,
				prev,
				next,
			},
		};
	});
}
// Get the entry directly from the prop on render
const { entry, prev, next } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<Container>
		<div class="bg-white">
			<div class="h-96 w-full relative">
				<Media src={entry.data.image.src} alt={entry.slug} detail={true} />
			</div>
			<TextScroll text={entry.data.snippet} />
			<div class="mx-auto prose prose-lg dark:prose-invert px-6 py-10 lg:py-20 lg:px-8">
				<a
					href={`/blog/category/${entry.data.category?.toLowerCase()}`}
					class="text-blue-400 dark:text-stone-400 uppercase tracking-wider text-sm font-medium no-underline">
					{entry.data.category}
				</a>
				<h1 class="text-4xl mb-3 lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight dark:text-white">
					<Title title={entry.data.title} />
				</h1>
				<Content />
			</div>
			<TextScroll text={entry.data.snippet} />
			<div class="flex bg-primary-900 portfolio-navigator">
				<a
					class="flex justify-center items-center group"
					data-cursor-hover
					href={prev.slug && `/portfolio/${prev.slug}`}
					data-hover-title="prev">
					<img src={prev.data.image.src} />
					<span class="absolute text-lg lg:text-5xl opacity-50 group-hover:opacity-100 font-extrabold">&lt; {prev.data.title}</span>
				</a>
				<a
					class="flex justify-center items-center group"
					data-cursor-hover
					href={next.slug && `/portfolio/${next.slug}`}
					data-hover-title="next">
					<img src={next.data.image.src} />
					<span class="absolute text-lg lg:text-5xl opacity-50 group-hover:opacity-100 font-extrabold">{next.data.title} &gt;</span>
				</a>
			</div>
		</div>
	</Container>
	<Footer />
</Layout>

<style>
	.portfolio-navigator a:first-child {
		border-right: 10px solid;
		@apply border-primary-900;
	}
	.portfolio-navigator a:last-child {
		border-left: 10px solid;
		@apply border-primary-900;
	}
	.portfolio-navigator img {
		filter: opacity(0.2);
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.portfolio-navigator a:hover img {
		filter: opacity(0.4);
	}
</style>
